each category in categories
  li.themes__item
    -
      linkAttributes = {
        class: `themes__item-link`,
        href: `/articles/category/${category.id}`
      }

      if (category.id === currentCategoryId) {
        linkAttributes.class += ` themes__item-link--active`
        linkAttributes.href = null
      }

    a&attributes(linkAttributes)
      | #{category.name}
      sup #{category.count }
