extends layout.pug

block content
  -
    currentCategoryId = currentCategory.id;
    articles = articlesInCategory;
  main.articles-category
    h1 #{currentCategory.name}
    .articles-category__theme-list
      ul.themes
        include partials/categories-list
    section.articles-category__list.preview
      include partials/articles-list
    .preview__toggle-wrapper
      +pagination(page, totalPages, 1, `?`)
